/* .chart_div {
  /* top: 50%;
  left: 20%; 
  height: 100%;
  display: block;
  margin: 0 auto;
  justify-content: center;
}

.bigAndBoldClass {
  background-color: #dc3545;
}
.rowYourBoat > h5 {
  font-size: 6px;
  float: left;
  display: flex;
} */

.chart__div {
  font-size: 50px;
}
.rowYourBoat > h5 {
  font-size: 6px;
}
